#calendar
{
	background-color: #fff;
	height: auto;
}
#page .fc-toolbar
{
	background-image: url("../images/degradeGris34.png");
    color: #000;
}
#page .fc-state-active
{
	box-shadow: none;
    opacity: 0.65;
}
thead th
{
	background-color: #ddd;
}
#page .fc-state-default
{
	background-image: url("../images/degradeRouge34.png");
    color: #fff;
    float: right;
    height: 30px;
    z-index: 2;
    border: solid thin black;
    background-position: 0;
	transition: none;
	margin-left: 0px;
}
#page .fc-state-hover
{
	background-position: 0;
	transition: none;
}
.ui-tooltip 
{
    border: solid thin black;
	background: #fff;
	text-align: center;
	width: 200px;
	height: 210px;
	z-index: 990;
	position: absolute;
}
.ui-tooltip p
{
    margin-bottom:10px;
}
div.close {
    background-color: inherit;
    border: thin solid #ddd;
    color: #aaa;
    cursor: pointer;
    height: 25px;
    left: 173px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 25px;
    font-weight: bold;
}
div.close:hover {
    border: thin solid #000;
    color: #000;
}
#footer
{
	z-index: 999;
}